    <ul class="nav pull-right">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-info-sign icon-white"></i>&nbsp;&nbsp;Help <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="@(Url.Action("FAQ", "Help"))">FAQ</a></li>
                <li><a href="@(Url.Content("~/Content/BrewersBuddyUsersManual.pdf"))">User's Manual</a></li>
            </ul>
        </li>
    </ul>