.main {
    margin-top: 60px;
}

.label-beer {
    background-color: #cca23e;
}

.label-wine {
    background-color: #a92b58;
}

.label-mead {
    background-color: #a65d20;
}

.label-other {
    background-color: #505050;
}

.index-list hr {
    margin: 0;
}

.index-list .row:last-child hr {
    display: none;
}

/*
 Bootstrap overrides 
*/

.navbar form {
    margin: 0 !important;
    padding: 0 !important;
}

.dropdown-menu a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 20px;
  color: #ffffff;
  white-space: nowrap;
}

.dropdown-menu a:hover,
.dropdown-menu a:focus,
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a {
  color: #ffffff;
  text-decoration: none;
  background-color: #17b394;
  background-image: -moz-linear-gradient(top, #18bc9c, #15a589);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#18bc9c), to(#15a589));
  background-image: -webkit-linear-gradient(top, #18bc9c, #15a589);
  background-image: -o-linear-gradient(top, #18bc9c, #15a589);
  background-image: linear-gradient(to bottom, #18bc9c, #15a589);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff18bc9c', endColorstr='#ff15a589', GradientType=0);
}

.subnav {
    margin-bottom: 20px !important;
}