@{
    ViewBag.Title = "Forgot Password";
}

<h2>Forgot Password</h2>

 @using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <fieldset>
        <legend>Enter your username to recover your password</legend>
        @Html.Label("User Name", new { @for = "UserName" })
        @Html.TextBox("UserName")
        <span style="color:red;">@TempData["Message"]</span><br />
        <input type="submit" class="btn btn-primary" value="Recover" />
    </fieldset>
}