body {
	color: #505050 !important;
}

* {
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}

.subhead {
	position: relative;
	height: 110px;
	margin-top: 40px;
}

.subhead h1 {
	position: relative;
	top: 50px;
}

h1 {
	font-weight: 200;
	font-size: 30px;
}

.submenu {
	position: absolute;
	left: 0;
	display: block;
	bottom: 0;
	margin: 0;
	padding: 0;
}

.submenu li {
	font-size: 18px;
	font-weight: 200;
	display: list-item;
	float: left;
	line-height: 20px;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	text-align: left;
	margin-right: 40px;
}

.submenu li.active {
	font-weight: 500;
}

.subnav {
	color: #fc6ca5;
	display: block;
	position: absolute;
	top: 30px;
}

.content {
	margin-top: 20px;
}

.content-with-submenu {
	margin-top: 30px;
}

.list-type {
	height: 40px;
	width: 40px;
	background: #505050;
	color: #fff;
	font-family: "Georgia", "Times New Roman", Times;
	text-align: center;
	line-height: 40px;
	font-size: 24px;
}

.list-type.beer {
	background: #cca23e;
}

.list-type.wine {
	background: #a92b58;
}

.batch-list a {
	font-size: 20px;
	font-weight: 500;
}

.batch-list p {
	margin: 0 0 0 -20px;
}

.batch-list .row {
	margin-bottom: 20px;
}

/********************************************
* Bootstrap overrides
*********************************************/

.brand { 
	font-weight: 100 !important;
	color: #252525 !important;
}

.navbar {
	background-color: #ededed;
	border-bottom: 1px solid #dddada;
}

.nav li a {
	color: #505050 !important;
}

.nav li.active a {
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	background-color: transparent !important;
	color: #0f93e6 !important;
	font-weight: bold;
}

.btn {
	font-size: 16px;
	padding: 10px 20px 10px 20px;
}

input,
select,
textarea {
	width: 300px;
}