@{
    ViewBag.Title = "Home";
}

<!-- Jumbotron -->
<div class="jumbotron">
    <h1>Make great beer</h1>
    <p class="lead">Brewers Buddy helps home brewers perfect the perfect beer and wine recipes. </p>
    <a class="btn btn-large btn-success" href="#">Get started today</a>
</div>

<hr>

<!-- Example row of columns -->
<div class="row-fluid">
    <div class="span4">
        <h2>Popular Recipies</h2>
        <ul>
            <li>A recipe</li>
            <li>Another recipe</li>
        </ul>
        <p><a class="btn" href="#">View more &raquo;</a></p>
    </div>
    <div class="span4">
        <h2>Recently Shared</h2>
        <ul>
            <li>A recipe</li>
            <li>Another recipe</li>
        </ul>
        <p><a class="btn" href="#">View more &raquo;</a></p>
    </div>
    <div class="span4">
        <h2>Popular Users</h2>
        <ul>
            <li>A user</li>
            <li>Another user</li>
        </ul>
        <p><a class="btn" href="#">View more &raquo;</a></p>
    </div>
</div>
