@{
    ViewBag.Title = "FAQ";
}

<h2>FAQ</h2>

<OL>
<LI><STRONG><A class=back-link href="#1">How do I register for this site?</A></STRONG> </LI>
<LI><STRONG><A class=back-link href="#2">Can I update my account information?</A></STRONG> </LI>
<LI><STRONG><A class=back-link href="#3">How do I change my password?</A></STRONG> </LI>
<LI><STRONG><A class=back-link href="#4">How do I recover my password?</A></STRONG> </LI>
<LI><STRONG><A class=back-link href="#5">How do I logout?</A></STRONG> </LI>
<LI><STRONG><A class=back-link href="#6">How do I search for users?</A></STRONG> </LI>
<LI><STRONG><A class=back-link href="#7">How do I add friends?</A></STRONG> </LI>



</OL>


<P>
<P><STRONG><A id=1 name=1></A>Q. How do I register for this site?</STRONG><BR>A. Click on the Register link in the upper right hand corner or on the 
    <A href="/Account/Register" target=_self>Register if you don't have an account.</A>.  On this page you will need to enter User name, Password with confirmation, 
    and Email since they are required.  Extra information you can enter is First name, Last name, City, State, and Zip.  At the bottom of 
    the page click the Register button and you will be registered if there are no issues with your credentials.  Issues could be:
    <ul>
        User name is already taken <br>
        Password is not minimum length <br>
        Confirmation password didn’t match original password <br>
        Email is already taken <br>
    </ul>
    <BR>
</P>
<P><STRONG><A id=2 name=2></A>Q. Can I update my account information?</STRONG><BR>A. Yes.  A user can change their name, 
    address, email address, and password.  To change their account information, a user should click on their username in 
    the upper right hand corner of the display and then select edit your profile.  <A href="/Account/Edit" target=_self>Click here</A> 
    to Edit Profile.
</P>
<P><STRONG><A id=3 name=3></A>Q. How do I change my password?</STRONG><BR>A. After logging in a user should click on their username in 
    the upper right hand corner of the display and then select edit your profile.  <A href="/Account/Edit" target=_self>Click here</A> 
    to Edit Profile.  At the bottom of the page is a link Change Password link.  Clicking this link will take you to the change password page.  
    On this page you must enter your old password, then new password, then confirm new password, and finally click the change password button.<BR>
</P>
<P><STRONG><A id=4 name=4></A>Q. How do I recover my password?</STRONG><BR>A. Click on the Log in link in the upper right hand corner.  
    When on the login page under the Login button there is this link <A href="/Account/ForgotPassword" target=_self>Recover if you forgot your password.</A>  
    Then enter your username to recover your password.  You will receive an email to the email you entered on your account.  Go to your email and click on the Recover Password link 
    in the email, this will reset your password and send you another email with your new password.  You can use this with your Username and log into your account.  
    Make sure you change your password after you log back in.<BR>
</P>
<P><STRONG><A id=5 name=5></A>Q. How do I logout?</STRONG><BR>A. To logout a user should click on 
    their username in the upper right hand corner of the display and then select logout.<BR>
</P>
<P><STRONG><A id=6 name=6></A>Q. How do I search for other users?</STRONG><BR>A.  After you log in to your account click on the 
    <A href="/Account/SearchIndex" target=_self>Users</A> link in the menu bar at the top of the page.  On this page you can search on User name, First name, Last name, and Zip code.
    You can enter any combination in the search criteria to look for other users.  Hitting the search button will show you a list of users that match the criteria you entered.  
    On this list you can select users to add as friends by clicking the add friend link next to the users information.
</P>
<P><STRONG><A id=7 name=7></A>Q. How do I add friends?</STRONG><BR>A.  After you log in to your account click on the 
    <A href="/Account/SearchIndex" target=_self>Users</A> link in the menu bar at the top of the page.  On this page you can search on User name, First name, Last name, and Zip code.
    You can enter any combination in the search criteria to look for other users.  Hitting the search button will show you a list of users that match the criteria you entered.  
    On this list you can select users to add as friends by clicking the add friend link next to the users information.  An email notification will be sent to the user you want to 
    add as a friend.  When they check the email they will have the option to accept or decline the friend request.  If they accept you will both be friends and show up on each 
    other’s friends list.  
</P>







