@{
    ViewBag.Title = "FAQ";
}

<h2>FAQ</h2>

<OL>
<LI><STRONG><A class=back-link href="#1">How do I logout?</A></STRONG> </LI>
<LI><STRONG><A class=back-link href="#2">Can I update my account information?</A></STRONG> </LI>
<LI><STRONG><A class=back-link href="#3"></A></STRONG> </LI>
<LI><STRONG><A class=back-link href="#4"></A></STRONG> </LI></OL>


<P>
<P><STRONG><A id=1 name=1></A>Q. How do I logout?</STRONG><BR>A. To logout a user should click on 
    their username in the upper right hand corner of the display and then select logout.<BR></P>
<P><STRONG><A id=2 name=2></A>Q. Can I update my account information?</STRONG><BR>A. Yes.  A user can change their name, 
    address, email address, and password.  To change their account information, a user should click on their username in 
    the upper right hand corner of the display and then select edit your profile.  <A href="/Account/Edit" target=_self>Click here</A> 
    to Edit Profile.</P>
<P><STRONG><A id=3 name=3></A>Q.  ?</STRONG><BR>A. .<BR></P>
<P><STRONG><A id=4 name=4></A>Q.  ?</STRONG><BR>A. .<BR>.</P>




